<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="DefaultConfig">
	<Appenders>
		<Console name="STDOUT">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSS'Z'}{GMT+0} %level %logger{1.} /%threadName/ [traceId:%mdc{traceId},parentId:%mdc{parentId},spanId:%mdc{spanId}] - %replace{%msg %rThrowable}{\n}{&#2028;}%throwable{none}%n</Pattern>
			</PatternLayout>
		</Console>
	</Appenders>

	<Loggers>

		<Root level="INFO">
			<AppenderRef ref="STDOUT" />
		</Root>
		<!-- if you want to debug, replace INFO Logger with this -->
		<!--
		<Root level="DEBUG">
			<AppenderRef ref="STDOUT" />
		</Root>
		-->
	</Loggers>
</Configuration>